@charset "UTF-8";
menupopup > menuitem,
menupopup > menu {
  padding-block: 0.15em !important;
  font-size: 13px !important;
}

:root {
  --arrowpanel-menuitem-padding: 3px 6px !important;
}

/*
#PersonalToolbar .bookmark-item, menuitem {
    ///* font-family: "Noto Sans CJK JP"; */
    // color: #333 !important;
    font-size: 14px !important;
    //font-weight: 500 !important;
    padding: 1px 4px !important;
    //margin-top: -3px !important;
    //margin-bottom: -3px !important;
}
*/
